<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Periodic Table</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Elements on the Periodic Table</h1>
        <p>Click an element to view more infromation</p>
    </header>

    <main>
        {% for element in elements %}
        <a class="card" href="/element/{{ element.atomicNumber }}">
            <h4>{{ element.name }}</h4>
        </a>
        {% endfor %}
    </main>
</body>
</html>
